* {
margin: 0;
padding: 0;
}

body {
font-size: 62.5%;
font-family: sans-serif;
display: flex;
flex-direction: column;
}

a, a:hover {
text-decoration: none;
color: inherit;
}

h1, h2, h3, h4, h5, h6 {
font-family: Georgia, serif;
}

p {
font-size: 1.2rem;
font-family: Helvetica, sans-serif;
}

.wrapper {
display: flex;
flex-direction: column;
flex-grow: 1;
padding-top: 1.2rem;
}

.header {
max-width: 33rem;
margin: 0 auto;
margin-bottom: 2.4rem;
}

.header h2 {
font-size: 1.8rem;
font-weight: normal;
margin-bottom: 1.2rem;
}

.header p + p {
margin-top: 1.2rem;
}

.nav {
display: flex;
flex-direction: row;
justify-content: space-around;
border-top: 1px solid #000;
margin-bottom: 2.4rem;
}

.nav > * {
color: #c0c0c0;
display: inline;
border: 1px solid #000;
padding: 0.6rem 1.2rem;
font-family: Georgia, serif;
font-weight: bold;
margin-top: -1px;
}

.nav > .active {
color: #000;
border-left: 1px solid #000;
border-right: 1px solid #000;
border-top: 1px solid #fff;
border-bottom: 1px solid #000;
}

.content {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
}

.blurb {
display: flex;
flex-direction: column;
border: 1px solid transparent;
padding: 1.2rem;
margin-bottom: 2.4rem;
width: 33rem;
}

.blurb > p + p {
margin-top: 1.2rem;
}

.project {
display: flex;
flex-direction: row;
border: 1px solid #000;
padding: 1.2rem;
border-radius: 0.3rem;
margin-bottom: 2.4rem;
width: 33rem;
}

.project > .info {
display: flex;
flex-direction: column;
flex-grow: 1;
}

.project > .info > .title {
font-size: 1.8rem;
font-weight: normal;
margin-bottom: 0.6rem;
}

.project > .info > p + p {
margin-top: 1.2rem;
}

.project > .info > p {
font-size: 1.2rem
}

.stats {
display: flex;
flex-direction: column;
flex-grow: 1;
margin-left: 1.2rem;
}

.kpi {
color: #c0c0c0;
}

.kpi + .kpi {
margin-top: 1.2rem;
}

.kpi > h4 {
font-size: 2.4rem;
font-weight: normal;
text-align: center;
}

.kpi > p {
font-size: 1.2rem;
text-align: center;
}

.footer {
font-size: 0.8rem;
text-align: center;
margin: 2.8rem 0;
}

.hidden {
display: none;
}
